@media screen and (min-width: 48rem) {
  header {
    height: 100vh;
  }

  nav {
    padding: 1rem 3rem;
    gap: 1rem;
  }

  nav .social {
    display: flex;
    gap: 1.5rem;
  }

  nav .social img {
    width: 30px;
    border-radius: 50%;
  }

  nav .menu {
    display: flex;
    font-size: 1.2rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    visibility: visible;
    position: relative;
    top: 0px;
    margin-left: 4.5rem;
    height: 2.5rem;
    transition: 0;
  }

  nav .menu a {
    font-size: 1.2rem;
    padding: 0.3rem;
  }

  nav .menu a:hover {
    color: rgb(10, 223, 242);
    transition: all 0.3s linear;
    border-bottom: 1px solid rgb(10, 223, 242);
  }

  nav .menu-item.top {
    margin-top: 0;
  }

  nav .menu-mobile {
    display: none;
  }

  nav .brand {
    font-size: 1.8rem;
  }

  .banner {
    padding-top: 6rem;
    height: 100vh;
  }

  .banner .container {
    margin-top: 3rem;
    display: flex;
    width: 90%;
  }

  .banner h1 {
    font-size: 7rem;
  }

  .projects .container {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1rem;
    gap: 3rem;
  }

  .projects .card {
    background-color: #171818;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 1rem;
    z-index: 2;
  }

  .projects .buttons {
    justify-content: flex-end;
    gap: 1rem;
  }

  .projects img {
    width: 40%;
    object-fit: contain;
  }

  .projects .card.reverse {
    flex-direction: row-reverse;
  }

  .projects .card.reverse .buttons {
    justify-content: flex-start;
    gap: 1rem;
  }

  .projects .techs-used {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .projects .card.reverse .techs-used {
    display: flex;
    justify-content: flex-start;
  }

  /* .techs {
    padding: 1.5rem;
    background-color: #140f0f;
  }

  .techs .container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
    min-height: 30vh;
    max-height: 500px;
  } */
}
@media screen and (min-width: 64rem) {
  nav {
    padding: 1rem 8rem;
  }
}
