/* ################################################# */
@media screen and (max-width:817px) {
    .menu {
        display: none;
    }

    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 3rem;
        line-height: 80px;
        right: -100%;
        text-align: center;
        /* background: var(--btn-color); */
        backdrop-filter: blur(80px);
        height: 100vh;
        transition: .6s ease-in;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        padding-right: 0;
    }

    .menu li:nth-child(1) {
        margin-top: 3rem;
    }

    #nav.active .menu {
        display: block;
        right: 0;
        /* height: calc(100vh - 70px); */
        visibility: visible;
        overflow-y: auto;
    }

    #nav.active .menu-mobile .one {
        transform: rotate(45deg) translate(7px, 4px);
        transition: all .5s;
    }

    #nav.active .menu-mobile .two {
        opacity: 0;
        transition: all .5s;
    }

    #nav.active .menu-mobile .three {
        transform: rotate(-45deg) translate(7px, -4px);
        transition: all .5s;
    }

    .menu a {
        color: var(--bg-secundary);
        font-size: 2rem;
    }

    .menu-mobile {
        display: block;
        width: 45px;
        margin-right: 1rem;
        padding: 0 .5rem;
        cursor: pointer;
    }

    .one,
    .two,
    .three {
        width: 100%;
        background-color: var(--bg-main);
        height: 3px;
        display: flex;
        margin: 5px 0;

    }

    /* About */
    .container {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 2rem;
    }

}


/* ###################################### */
@media screen and (max-width:699px) {
    .banner-text-content {
        width: 550px;
        font-size: 1.1rem;
    }

    .banner-text-content h1, .banner-text-content p {
        margin-left: 0px;
    }

    .banner-text-content h1 {
        font-size: 4.6rem;
        color: var(--bg-secundary);
    }

}

/* ############################################## */
@media screen and (max-width:550px) {
    #nav {
        background-color: var(--bg-main);
    }

    .menu-mobile {
        color: var(--bg-secundary);
    }

    .one,
    .two,
    .three {
        background-color: var(--bg-secundary);
    }

    #banner {
        grid-template-columns: 2fr;
        height: 100vh;
    }

    .banner-text-content {
        font-size: 1.2rem;
        width: 300px;
        color: var(--bg-secundary);
    }

    .banner-text-content h1 {
        font-size: 4rem;
        margin-left: 0px;
        line-height: 5rem;
    }

    .different-color {
        color: var(--bg-secundary);
    }

    .banner-right {
        display: none;
    }

    .container-buttons {
        justify-content: center;
    }

    .container-buttons button {
        color: var(--bg-secundary);
        border: 1px solid var(--bg-secundary);
    }

    .container-buttons button:hover {
        background-color: var(--bg-secundary);
        color: var(--bg-main);
    }
}


/* #################################################### */
@media screen and (max-width:314px) {
    .banner-text-content {
        font-size: 1rem;
        width: 300px;
        color: var(--bg-secundary);
        width: 90%;
        min-width: 250px;
        text-align: left;
    }

    .banner-text-content h1 {
        font-size: 3rem;
        margin-left: 0px;
        line-height: 4rem;
    }

    .container-buttons {
        justify-content: center;
        margin-top: 2rem;


    }

    .container-buttons button {
        color: var(--bg-secundary);
        border: 1px solid var(--bg-secundary);
        font-size: .8rem;
        text-align: center;
    }
}