@media screen and (min-width:768px) {
    body, #nav {
        max-width: 1580px;
        margin: auto;
    }


    .title-section {
        font-size: 3.3rem;
        text-align: center;
        padding: 4rem 2rem;
        color: var(--title);
    }

    .menu-mobile {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: end;
        align-items: center;
        visibility: visible;
        position: relative;
        gap: 1rem;
        right: 1rem;
        top: 0;
        height: 3rem;
        background: none;
        transition: 0;
    }

    .menu li:nth-child(1) {
        margin-top: 0rem;
    }

    .menu a {
        font-size: 1.3rem;
    }

    .menu a:hover {
        color: #29272d;
    }

    /* BANNER */
    .banner-text-content {
        font-size: 1.7rem;
        width: 693px;
        text-align: left;
        padding: 1rem;
    }

    .banner-text-content h1 {
        font-size: 6rem;
        color: #fffffe;
    }

    .container-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 2rem;
        /* padding: 1rem 2rem; */
    }

    button {
        font-size: 1.1rem;
        padding: .5rem 1rem;
    }

    /*ABOUT  */
    .container {
        max-width: 800px;
    }

    /* prpjects */
    .container-cards {
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, minmax(5rem, 1fr));
        justify-content: space-around;
        padding: 1rem;
        gap: 2rem;
    }


    .modal-body {
        min-height: 50vh;
        border-top: 1px solid gray;
        display: flex;
        flex-direction: row;
    }

    .info-card {
        height: 24rem;
        width: 50%;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: space-between;
    }

    #title {
        font-size: 1.6rem;
    }

    .img-container {
        height: 24rem;
        width: 60rem;
        margin: auto;
    }

    #modal .container-buttons {
        display: flex;
        justify-content: left;
        gap: 1rem;
        margin-top: 2rem;
        padding: 0rem;
        align-items: center;
    }

    /* FOOTER */
    .container-contact {
        width: 90%;
        max-width: 500px;
    }
}