@media screen and (min-width: 768px) {
  #nav,
  #menu {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  #menu-hamburguer {
    display: none;
  }

  #menu {
    display: flex;
    justify-content: end;
    align-items: center;
    visibility: visible;
    position: relative;
    gap: 1rem;
    right: 1rem;
    top: 0;
    height: 3rem;
    background: none;
    transition: 0;
    z-index: 100;
  }

  #nav.active #menu {
    display: flex;
    right: 0;
    visibility: visible;
    overflow-y: hidden;
    padding-top: 0rem;
    font-size: 2rem;
  }

  #menu a {
    font-size: 1.3rem;
    padding: 0.3rem;
  }

  #menu a:hover {
    color: var(--buttons);
    transition: 0.5s linear;
  }

  /* BANNER */
  #banner .container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    margin: auto;
    padding: 0.5rem;
  }

  #banner .container p {
    font-size: 2rem;
    line-height: 3rem;
  }

  #banner .container h1 {
    font-size: 6rem;
  }

  #buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }

  /*######################################## ABOUT ########################################*/
  #about .container {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(179, 231, 231, 0.098);
    padding: 1rem;
    border-radius: 0.5rem;
  }

  #about img {
    width: 100%;
  }

  .about-text {
    max-width: 600px;
    margin: auto;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: left;
  }

  /*######################################## PROJECTS ########################################*/
  #projects .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container{
    max-width: 1300px;
    margin: auto;
  }
  .card {
    border: 1px solid var(--buttons);
    width: 400px;
    margin: auto;
  }

  #modal {
    width: 1000px;
  }
  .modal-body {
    min-height: 50vh;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
  }

  .info-card {
    height: 24rem;
    width: 50%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
  }

  #title {
    font-size: 1.6rem;
  }

  .img-container {
    height: 24rem;
    width: 60rem;
    margin: auto;
  }

  #modal .container-buttons {
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin-top: 2rem;
    padding: 0rem;
    align-items: center;
  }

  /*#################################### FOOTER / CONTACT ####################################*/

  .container-contact {
    width: 30%;
  }
}
