* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.section-title {
  text-align: center;
  color: white;
  padding: 3rem;
  font-size: 2.3rem;
}

p {
  color: #869191;
}

img {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: #111111;
}

.fa-brands:hover,
.brand:hover {
  color: rgb(10, 223, 242);
  transition: all 0.3s;
}

nav {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #111111;
  width: 100%;
  z-index: 3;
}
nav .social {
  display: none;
}
nav .brand {
  color: white;
  font-size: 2rem;
  padding: 0.2rem;
}

.menu {
  display: block;
  position: absolute;
  width: 100%;
  top: 4.3rem;
  line-height: 70px;
  right: 0;
  text-align: center;
  background: #111111;
  height: 0;
  transition: 0.6s ease-in-out;
  z-index: 100;
  visibility: hidden;
  overflow-y: hidden;
}

.menu a {
  font-size: 1.9rem;
  padding: 0.3rem 2rem;
  color: white;
}

.menu-item.top {
  margin-top: 5rem;
}

.nav.active .menu {
  display: block;
  height: calc(100vh - 4rem);
  visibility: visible;
  overflow-y: auto;
}

.nav.active .menu-mobile .one {
  transform: rotate(45deg) translate(7px, 7px);
  transition: all 0.5s;
}

.nav.active .menu-mobile .two {
  opacity: 0;
  transition: all 0.5s;
}

.nav.active .menu-mobile .three {
  transform: rotate(-45deg) translate(6px, -6px);
  transition: all 0.5s;
}

.menu-mobile {
  display: block;
  cursor: pointer;
  padding: 3px;
  width: 45px;
}

.one,
.two,
.three {
  width: 100%;
  background-color: rgb(203, 191, 191);
  height: 4px;
  display: flex;
  margin: 5px 0;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.banner .container {
  width: 90%;
  max-width: 800px;
  padding: 4rem 1rem;
  color: white;
  background-color: rgba(70, 70, 64, 0.1725490196);
  position: relative;
  overflow: hidden;
  animation: fade-text 3s;
  border-radius: 0.3rem;
}
.banner .square.top,
.banner .square.bottom {
  width: 60px;
  height: 30px;
  background-color: rgb(10, 223, 242);
  position: absolute;
}
.banner .square.top {
  top: 0;
  left: 0;
  animation: right-left;
  animation-duration: 3s;
}
.banner .square.bottom {
  bottom: 0;
  right: 0;
  animation: left-right;
  animation-duration: 3s;
}
.banner p {
  line-height: 2.6rem;
  font-size: 1.5rem;
}
.banner h1 {
  font-size: 4.5rem;
}
.banner .wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.banner .links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.banner .links a {
  display: flex;
  align-items: center;
  padding: 0 0.2rem;
  font-size: 2rem;
  width: 100%;
  color: white;
  animation: flutuar 3s infinite ease-out;
  border-radius: 30%;
}
.banner .links img {
  width: 35px;
  background-color: white;
  border-radius: 50%;
  line-height: 100%;
}
@keyframes right-left {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes left-right {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}
@keyframes flutuar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: rgb(10, 223, 242);
  }
}

.about {
  background-color: #111111;
  padding-bottom: 2rem;
}
.about .container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.about .about-text {
  color: rgb(202, 198, 198);
  padding: 1.5rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.about .about-text a {
  color: rgb(174, 169, 169);
}
.about .about-img {
  max-width: 450px;
  min-width: 300px;
  margin: auto;
}

.projects {
  background-color: #0e0c0c;
  padding-bottom: 3rem;
}
.projects .paragraphAuxiliar {
  text-align: center;
}
.projects .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}
.projects img {
  width: 100%;
}
.projects .card {
  background-color: #171818;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1rem;
  z-index: 2;
}
.projects h3 {
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
}
.projects .card p {
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.projects .without-js {
  padding: 1rem 0.5rem;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}
.projects .buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}
.projects .buttons a {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  color: #e3e7e7;
}
.projects button {
  padding: 0.5rem 0;
  background-color: #0990bd;
  border: none;
  border-radius: 0.3rem;
}
.projects button:hover {
  background-color: #111111;
  transition: all 0.3s;
}

/* ######## MODAL ##### */
.fade {
  min-height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  background-color: #4c4848;
  width: 90%;
  max-width: 1000px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 1.2rem;
  z-index: 6;
}

.fade,
.modal {
  opacity: 1;
  transition: 0.5s linear;
  pointer-events: all;
}

.modal.active {
  top: 0;
}

.fade.active,
.modal.active {
  opacity: 0;
  pointer-events: none;
}

.modal-content {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
}
.modal-content .close-button {
  align-self: flex-end;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: rgba(247, 49, 49, 0.187);
  color: white;
  transition: 0.5s ease-out;
  text-align: center;
}
.modal-content .close-button i {
  margin-left: 0.5rem;
}

.modal-body {
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--color-paragraph);
}
.modal-body .video-container {
  margin-top: 0;
  height: 100%;
  max-width: 400px;
  margin: auto;
}
.modal-body .video-container video {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 0.5rem;
}
.modal-body .info-card {
  max-height: 24rem;
  min-height: 15rem;
  width: 100%;
  overflow-y: auto;
  padding: 1rem 0;
}
.modal-body #title {
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.modal-body #techs {
  margin-top: 1rem;
}
.modal-body #desc {
  margin-bottom: 1rem;
  color: white;
}
.modal-body #desc li {
  list-style: disc;
}

.container-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.container-buttons button {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
}
.container-buttons button:hover {
  color: white;
}

.techs {
  padding: 1.5rem;
  background-color: #140f0f;
}
.techs .container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 1rem;
  min-height: 40vh;
}
.techs .container div {
  height: 150px;
  width: 150px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.techs .container .fa-brands {
  font-size: 5rem;
  color: #525d60;
}
.techs .container .fa-brands:hover {
  color: #4ad2ff;
}
.techs .container .name-tech {
  font-size: 1.2rem;
}

footer {
  text-align: center;
  padding: 2rem;
  background-color: #111100;
  line-height: 2.5rem;
}
footer a {
  padding: 1rem;
  font-size: 2rem;
  color: white;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4ad2ff #111111;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 5px;
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #111111;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #4ad2ff;
}

@media screen and (max-width: 28.25rem) {
  .banner {
    height: 100vh;
  }
  .banner h1 {
    font-size: 3rem;
  }
  .banner .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1rem;
    gap: 1rem;
  }
  .banner .links a {
    padding: 0;
    font-size: 2rem;
    width: 100%;
    color: white;
    letter-spacing: 2rem;
  }
  .projects .buttons {
    display: flex;
    gap: 1rem;
    padding: 0;
  }
}
@media screen and (min-width: 48rem) {
  header {
    height: 100vh;
  }
  nav {
    padding: 1rem 3rem;
    gap: 1rem;
  }
  nav .social {
    display: flex;
    gap: 1.5rem;
  }
  nav .social i {
    display: flex;
    gap: 1.5rem;
    color: white;
    font-size: 1.5rem;
  }
  nav .menu {
    display: flex;
    font-size: 1.2rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    visibility: visible;
    position: relative;
    top: 0px;
    margin-left: 4.5rem;
    height: 2.5rem;
    transition: 0;
  }
  nav .menu a {
    font-size: 1.2rem;
    padding: 0.3rem;
  }
  nav .menu a:hover {
    color: rgb(10, 223, 242);
    transition: all 0.3s linear;
    border-bottom: 1px solid rgb(10, 223, 242);
  }
  nav .menu-item.top {
    margin-top: 0;
  }
  nav .menu-mobile {
    display: none;
  }
  nav .brand {
    font-size: 1.8rem;
  }
  .banner .container {
    width: 90%;
  }
  .banner h1 {
    font-size: 6.5rem;
  }
  .about .container {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(179, 231, 231, 0.098);
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .about .about img {
    width: 100%;
  }
  .about .about-text {
    max-width: 600px;
    margin: auto;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: left;
  }
  .projects .container {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    gap: 1rem;
  }
  .projects .buttons {
    justify-content: flex-end;
    gap: 1rem;
  }
  .projects img {
    width: 100%;
  }
  .techs {
    padding: 1.5rem;
    background-color: #140f0f;
  }
  .techs .container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 64rem) {
  nav {
    padding: 1rem 8rem;
  }
} /*# sourceMappingURL=main.css.map */
